In [ ]:
class Student:
     def __init__(self, n):
         self.semester = "Semester 0"
         self.credits=0
         self.name = n
         self.id = 0
         self.club = None    
         
     def __str__(self):
        return "Name: "+ self.name

     def courses(self, co, cr):
        print("No courses taken yet")


class BBA_Student(Student):

  def __init__(self, n, id, sem):

    super().__init__(n)

    self.id = id

    self.sem = sem

  def clubs(self, *args):

    self.club = args

  def __str__(self):

    return f'{super().__str__()}\nID: {self.id}\nClubs: {", ".join(list(self.club))}'

  def courses(self, *args):

    print(f'BBA student took {args[-1]} credits in the {self.sem} semester. Courses are:')  

    for i in args[:len(args)-1:]:

      print(i)

class CSE_Student(Student):

  def __init__(self, n, id, sem):

    super().__init__(n)

    self.id = id

    self.sem = sem

  def clubs(self, *args):

    self.club = args

  def __str__(self):

    return f'{super().__str__()}\nID: {self.id}\nClubs: {", ".join(list(self.club))}'

  def courses(self, cr, *args):

    print(f'CSE student took {cr} credits in the {self.sem} semester. Courses are:')  

    for i in args:

      print(i)






s1 = BBA_Student("Fardin", 18101422,"Spring2018")
s1.clubs("Biz Bee")
print(s1)
s1.courses("MAT101", "STA101", "ENG101",9)
print("==================")
s2 = CSE_Student("Zarif", 19102345, "Spring2019")
s2.clubs("Computer Club")
print(s2)
s2.courses(9, "CSE320", "PHY112", "ENG102")
print("==================")
s3 = BBA_Student("Ahnaf", 18101166, "Fall2018")
s3.clubs("Adventure Club", "Biz Bee")
print(s3)
s3.courses("BUS201", "ANT101", "MAT120",9)
print("==================")
s4 = CSE_Student("Zaima", 17201624, "Summer2017")
s4.clubs("Robotics Club","Adventure Club","Computer Club")
print(s4)
s4.courses(12, "CSE321", "PHY111", "MAT215", "CSE470")

Name: Fardin
ID: 18101422
Clubs: Biz Bee
BBA student took 9 credits in the Spring2018 semester. Courses are:
MAT101
STA101
ENG101
==================
Name: Zarif
ID: 19102345
Clubs: Computer Club
CSE student took 9 credits in the Spring2019 semester. Courses are:
CSE320
PHY112
ENG102
==================
Name: Ahnaf
ID: 18101166
Clubs: Adventure Club, Biz Bee
BBA student took 9 credits in the Fall2018 semester. Courses are:
BUS201
ANT101
MAT120
==================
Name: Zaima
ID: 17201624
Clubs: Robotics Club, Adventure Club, Computer Club
CSE student took 12 credits in the Summer2017 semester. Courses are:
CSE321
PHY111
MAT215
CSE470

In [ ]:
class Scope:
   def __init__(self):
      self.x=1
      self.y=100
   def met1(self):
       x = 3
       x = self.x + 1
       self.y = self.y + self.x + 1
       x = self.y + self.met2(x+self.y) + self.y
       print(x)
       print(self.y)
   def met2(self,y=0):
       print(self.x)
       print(y)
       self.x = self.x + y
       self.y = self.y + 200
       return self.x + y

#What is the output of the following code sequence?

q2 = Scope()
q2.met1()
q2.met2()
q2.met1()
q2.met2()

1
104
613
302
105
0
105
714
2949
808
819
0

819

In [ ]:
class SportsPerson:

  def __init__(self, team_name, name, role):
    self.__team = team_name
    self.__name = name
    self.role = role
    self.earning_per_match = 0


  def get_name_team(self):
    return 'Name: '+self.__name+', Team Name: ' +self.__team



class Player(SportsPerson):

  def __init__(self, team_name, name, role, goal, macth):

    super().__init__(team_name, name, role)

    self.goal = goal

    self.macth = macth

    self.earning_per_match = 0

  def calculate_ratio(self):

    self.ratio = self.macth / self.goal

  def print_details(self):

    print(f'{super().get_name_team()} Team Role: {self.role}\nTotal Goal: {self.goal}, Total Played: {self.macth}\nGoal Ratio: {self.ratio} Match Earning: {(self.goal * 1000) + (self.macth * 10)}')


class Manager(SportsPerson):

   def __init__(self, team_name, name, role, win):
       
      super().__init__(team_name, name, role)

      self.win = win

   def print_details(self):

      print(f'{super().get_name_team()} Team Role: {self.role}Total Win: {self.win}\nMatch Earning: {self.win * 1000}')


#write your code here

player_one = Player('Juventus', 'Ronaldo', 'Striker', 25, 32)
player_one.calculate_ratio()
player_one.print_details()
print('------------------------------------------')
manager_one = Manager('Real Madrid', 'Zidane', 'Manager', 25)
manager_one.print_details()

Name: Ronaldo, Team Name: Juventus Team Role: Striker
Total Goal: 25, Total Played: 32
Goal Ratio: 1.28 Match Earning: 25320
------------------------------------------
Name: Zidane, Team Name: Real Madrid Team Role: ManagerTotal Win: 25
Match Earning: 25000

In [ ]:
yc